/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
  
  }
  
  body {
    background-color: #f6f6f6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
        line-height: 1.6;
    color: black;
 
   
  }
  a { 
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
  }
  
  h1 {
  
  margin-top: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  }

h2 {

text-align: center;
  }

  p {

font-family: Verdana, Geneva, Tahoma, sans-serif;
color: black; 
font-size: 30px;
padding: 10px;

  }


  /* ================================= 
    Navigation Styles
  ==================================== */


  .name,
  .main-nav li{

background-color: white;
text-align: center;
margin-top: 10px;
margin-bottom: 10px;


  }

.main-nav {

margin-top: 10px;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.name a {

  text-align: center;
  display: block;
  padding: 10px;


}
.main-nav :hover {

color: blue;
}

  
  /* ================================= 
    Base Layout Styles
  ==================================== */
  
  .name a,
  .main-nav a {

padding: 15px;
display: block;

  }
 

  .image {
    width: 100%;
    padding: 10px;
  }

.container {
  margin: 20px ;
}

.main-footer a:hover {

color: blue;

}
.primary,
.secondary,
.tertiary {

padding-top: 10px;

}

  
  /* ---- Layout Containers ---- */
  

  .main-header {
    padding-top: .5em;
      padding-bottom: .5em; 
    
    }
    
  
    .main-footer  {
    text-align: center;
    }

  
      
    .col {
    padding-right: 1em;
     padding-left: 1em;
    }
    
    .main-footer {
      background: #d9e4ea;
      padding: 2em 0;
      margin-top: 30px;
    }

    
    
  
  
  /* ---- Page Elements ---- */
  
  
  /* ================================= 
Media Queries
==================================== */
  
  @media (min-width: 769px) {
   
   .container {
   width: 90%;
}
 .name,
 .col
{
  float: left;
}

  .primary,
  .secondary,
  .tertiary{
    width: 50%;
  }
  
  .main-nav {
    float: right;
  }
  
  .main-nav li {
  display: inline-block;
  margin-left: 15px;
  }

  }
  
  @media (min-width: 1025px) {

.container {
width:80%;
max-width: 1150px;
}

.primary,
.secondary,
.tertiary {
width: 33.3%;
}
}


  /* ---- Clearfix ---- */
.clearfix::after {

  content:"" ;
  display: table;
  clear: both;
}